use QCM_DB

SELECT TOP 1000 [idQuestion]
      ,[enonce]
      ,[media]
      ,[type_media]
      ,[points]
      ,[idTheme]
  FROM [QCM_DB].[dbo].[QUESTION]

  INSERT INTO PROPOSITION(enonce,estBonne,idQuestion) VALUES ('proposition1',0,6);
  INSERT INTO PROPOSITION(enonce,estBonne,idQuestion) VALUES ('proposition2',1,6);
    INSERT INTO PROPOSITION(enonce,estBonne,idQuestion) VALUES ('proposition1',0,7);
